body {
  background: #807c7c;
}

$card-bg-color: #000000; // цвет заднего фона карточки
$text-color: #ffffff; // цвет текста карточки

@mixin card-creator($bg-color) { // функция для создания карточки и её параметров
  width: 300px;
  height: 300px;
  background: $bg-color;
}

@mixin name($t-color) { // определение цвета заголовка
  color: $t-color;
}
@mixin description($t-color) { // определение цвета описания
  color: $t-color;
}
@mixin picture-size() { // определение размеров картинки
  max-width: 200px;
  max-height: 200px;
}


.card {
  @include card-creator($card-bg-color);
}
.card p {
  @include description($text-color);
}
.card h2 {
  @include name($text-color);
}
.card img {
  @include picture-size();
}